body{
    margin: 0;
    padding: 0;
    font-family: "Azeret Mono", monospace;
}
a{
    text-decoration: none;
}



/*---- Header section ---*/



.header-tittle{
    display: flex;
   margin: 35px 50px 25px;
   text-align: center;
   justify-content: space-between;
}

.header-tittle-1{
   font-size: 28px;
   font-weight: bolder;
}

.btn{
    height: 57px;
    width: 244px;
    border-radius: 8px;
    background-color: #ffffff;
   
}
.btn a{
   
    color: #000;
    font-weight: 600;
    font-size: 20px;
    padding: 17px 24px;
}
.header-content{
    background: url('images/Hero-bg.png');
    background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
   height: 652px;
   
   
     
}
.header-content-1{
    height: 581px;
    width: 998px;
    margin: auto;
    padding: 20px;
    
}
.header-article{
    text-align: center;
    margin: 5px 0px 54px;
    height: 136px;
    width: 998px;
}
.header-img{
    text-align: center;
   
}

h1{
    font-weight: bolder;
    font-size: 38px;
    line-height: 60px;
}
.header-btn{
    text-align: center;
    margin-top: 32px;
}
.btn-1{
    height: 65px;
    width: 244px;
    border-radius: 8px;
    background-color: #000;
    margin: 32px 0px 15px;
 
    
}
.btn-1 a{
    color: #ffffff;
    font-weight: 600;
    font-size: 20px;
    padding: 21px 24px;
}

/*----- main section --- */


main{
    margin-top: 30px;
}
.why-us{
   
    width: 946px;
    padding: 75px 80px;
    margin: auto;
    background-color: #fafafb;
}
.section-text{
    text-align: center;
    width: 860px;
   margin: auto;
   padding-bottom: 15px;
  
    
}
.why-us-sm{
    display: flex;
    padding: 48px;
    margin: 16px;
    justify-content: center;
    background-color: #fcfcfd ;
    border-radius: 16px;
  
}

.btn-3{
    width: 150px;
    height: 48px;
    padding: 12px;
    background-color: #ffffff;
}
.btn-3 a{
    color: #000;
    font-weight: 500;
}
.why-us-text{
    height: 220px;
    width: 447px;
   

}
.why-us-img{
    width: 274px;
    height: 220px;
    background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/*----- video ---*/


.vedio-section{
     
   margin-top: 50px;
   
}
.vedio-section-1{
    width: 1140px;
    margin: auto;
   
   
}
.vedio-content{
   margin: auto;
    text-align: center;
    align-items: center;
}

.vedio-text{
    margin: 0px 24px 48px;

}

   
.vedio{
    border: #e2e2e4 solid 2px;
    padding: 32px;
    border-radius: 16px;
  
   

}
iframe{
    border-radius: 16px;
}

/*---------- target section ------- */
.target{
   margin-top: 50px;
}
.target-section{
   
    width: 1147px;
    margin: auto;
   
   
}
.target-box{
    display: flex;
 
}
.tb{
    border: beige solid 1px;
    border-radius: 16px;
    margin: 2px 24px 111px 0px;
    background-color: #fff6f4;
    padding: 40px;
}
.tb a {
    text-decoration: underline;
    color: #000;
}
#bg{
    background-color: #f2f6fe;
}
#bg-1{
    background-color: #fffdf2;
}
.next-target-2{
    display: flex;
    padding: 40px;
    height: 125px;
    width: 1060px;
    border: #59595f solid 1px;
    border-radius: 16px;
    margin-bottom: 24px;
}
.nt-img{
  padding: 5px 25px 5px 0px;
}
.nt-img img{
   max-height: 88px;
   max-width: 143px;
}
.nt-text{
    width: 941px;
    height: 139px;
  

}
#nt{
   padding-left: 24px;

}
.nt-text a{
    text-decoration: underline 2px;
    color: #000;
}
.form-section-1{
    
}
.form-section{
    margin: auto;
    text-align: center;
    background: url("images/handshake.jpg");
    height: 186px;
    width: 1044px;
    background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
    border-radius: 16px;
    padding: 64px 48px;
    
   

}

.form-text h2{
    color: #ffffff;
}
.form-text p{
    color: #e2e2e4;
}
form{
   margin-top: 25px;
}
form input{
    width: 239px;
    height: 5px;
    padding: 19px 20px;
    border-radius: 5px;
}
form button{
    height: 42px;
    width: 100px;
    border-radius: 5px;
   
    
}

footer{
    margin-top: 50px;
    background: #f7f8f8;
}
.footer-content{
    width: 1105px;
    height: 48px;
    display: flex;
    margin: auto;
   justify-content: space-between;
   padding: 20px 25px;
}
.foot-icon ul{
    display: flex;
    list-style: none;
}
.foot-icon ul li a img{
    margin-left: 20px;
}
